{% extends "base.html" %}
{% load static %}

{% block title %}
    My Blog
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "blog/post.css" %}"/>
    <link rel="stylesheet" href="{% static "blog/index.css" %}"/>
{% endblock %}

{% block content %}
    <section id="welcome">
        <header>
            <img src="{% static "blog/images/jakub.jpg" %}" alt="Jakub - The author of this blog">
            <h2>
                JAKUB'S BLOG
            </h2>
        </header>
        <p>
            Hi, I am Jakub and I really like to write about world!
        </p>
    </section>

    <section id="latest-posts">
        <h2>
            My latest thoughts
        </h2>
        <ul>
            {% for post in posts %}
                {% include "blog/includes/post.html" %}
            {% endfor %}
        </ul>
    </section>

    <section id="about">
        <h2>
            What I do
        </h2>
        <p>
            I love programming, to help others and exploring new technologies!
        </p>
        <p>
            My goal is to learn Django more and all things around like HTML and styling.
        </p>
    </section>
{% endblock %}
