{% load static %}

<li>
    <article class="post">
        <a href="">
            <img src="{% static "blog/images/mountains.jpg" %}" alt="Moutain Hiking">
            <div class="post__content">
                <h3>
                    Moutain hiking
                </h3>
                <p>
                    There is nothing like views you get when hiking in the mountains!
                    And I wasn't prepared for what happened while I was enjoying the view!
                </p>
            </div>
        </a>

    </article>
</li>
